form {
	margin: 20px;
	padding: 20px;
	display: block;
	float: left;
	width: 50%
}

#city {
	display: block;
	margin: 8px;
	width: 160px;
}

#state {
	display: block;
	margin: 8px;
	width: 160px;
}

#radius {
	display: block;
	margin: 8px;
	width: 160px;
}

#date-start {
	display: block;
	margin: 8px;
	width: 160px;
}

#date-end {
	display: block;
	margin: 8px;
	width: 160px;
}

#submitbutton {
	display: block;
	margin: 8px;
	width: 160px;
}

header {
	font-size: 60px;
	margin-left: 300px;
	display: block;
}

h3 {
	margin-left: 322px;
}

.loading {
	display: none;
	visibility: hidden;
}


/*Sort Cards*/

.card {
	display: block;
	margin: 15px;
	float: left;
	background-color: rgba(72, 78, 85, 0.58);
	width: 300px;
	height: 500px;
}

/*.remove-artist {
	position: absolute;
	content: "X";
} */

.event-button {
	width: 50%;
    background-color: rgba(106, 44, 43, 0.63);
}

.delete-button {
	width: 50%;
    background-color: rgba(106, 44, 43, 0.63);
}


.sort-image {
	height: 300px;
	width: 300px
}

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	height: 20px;
}

.card-holder {
	margin: 5px;
}

.red-x {
	position: absolute;
	display: none;
	opacity: 0.7;
}

iframe {
	margin-top: 50px;
}