
body { 
	background-image: url(images/cbackground.png) ;
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	background-color: #999;
	background-color: rgba(0, 0, 0, 0.26);
	background-blend-mode: darken;
	font-family: 'Montserrat', sans-serif;
	color: white;
}


/*search form box*/

.searchbar {
	color: black;
}

.search-form {
	margin: 20px;
	padding: 20px;
	display: block;
	width: 50%;
	margin-top: 74px;
    background-color: rgba(15, 17, 1, 0.32);
    background-size: 10px;
    width: 275px;
    margin-left: auto;
    padding: 20px;
    margin-right: auto;
}

/*Search form*/

#city {
	display: block;
	margin: 8px;
	width: 199px;
	margin: 20px
}

#state {
	display: block;
	margin: 8px;
	width: 199px;
	margin: 20px;
}



#radius {
	display: block;
	margin: 8px;
	width: 199px;
	margin: 20px;
}

#datepick {
	display: block;
	margin: 8px;
	width: 199px;
	margin: 20px;
}

#date-end {
	display: block;
	margin: 8px;
	width: 199px;
	margin: 20px;
}

#submitbutton {
	display: block;
	margin: 8px;
	width: 199px;
	margin: 20px;
	background-color: #23d05f;
	color: whitesmoke;
	font-size: initial;
	border-radius: 20px;
}



.loading {
	display: none;
	visibility: hidden;
}

#hidden {
	visibility: hidden;
}

header {
	margin-top: 110px;
	font-size: 75px;
	color: #2f4c76;
    font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

/*Sort Cards*/

.card {
	display: inline-block;
	margin: 15px;
	background-color: rgba(72, 78, 85, 0.58);
	width: 300px;
	height: 500px;
}


.sort-image {
	height: 300px;
	width: 300px
}

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	height: 20px;
	z-index: 100;
}

.card-holder {
	margin: 5px;
}

.red-x {
	position: absolute;
	display: none;
	opacity: 0.6;
	margin-top: 6px;
	margin-left: 9px;
}


/*CARDS*/

.sort-name {
	font-size: large;
}

.sort-city {
	text-align: left;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.sort-venue {
	text-align: left;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.sort-date {
	text-align: left;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

/*Bottom of card*/

.event-button {
	height: 35px;
    float: left;
    margin-left: 15px;
    margin-top: 10px;
}

.delete-button {
	float: right;
    height: 30px;
    margin-right: 15px;
    margin-top: 13px;
}

hr {
	margin-top: 0px;
	margin-bottom: 0px;
}


/*NAVBAR*/

#top-divider{
	margin-bottom: 30px;
}

.create-playlist {
	width: 350px;
}

.logo-box{
	margin-left: 2%;
}


.fav-event {
	height: auto;
	max-height: 300px;
	overflow-x: visible;
	overflow-y: scroll;
}

.delete-fav {
	position: absolute;
	margin-top: 6px;
}

.loading-playlist {
   display: none;
   visibility: hidden;
 }

 .loading-style{
 	margin-top: 55px;
 }

 /*Dropdown*/

 .delete-fav {
 	padding-left: 10px;
 }


 #fav-a {
 	padding-left: 35px;
 }

 /*Table*/

 #results-table-div {
 	float: right;
 	height: 100%;
 	display: block;
 	margin-right: 20px;
 	padding-left: 3%;
 	width: 100%;
 }

 .logo-test {
 	font-family: 'Monoton';
    font-size: 28px;
    color: #5bee5c;
 }

 .br-images {
 	z-index: inherit;
 	position: absolute;
 }

 #loading_player {
 	margin-top: 50px;
	height: 92%;
	top: 10px;
	left: 15px;
	bottom: 0;
	padding-right: 1%;
 }

 html, body {
 	height: 100%;
 }

 head {
 	height: 100%;
 }

 .table-striped > tbody > tr:nth-of-type(even) {
    background-color: #112541;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #0b2d50;
}


 .confirm {
 	border-radius: 10px;
    color: azure;
    background-color: #335983;
    border-width: 0px;
    border-color: #9692f5;
 }

 h3 {
 	font-family: 'Montserrat', sans-serif;
 }

 h2 {
 	font-family: 'Montserrat', sans-serif;
 	margin-top: 4%;
    margin-left: 1%;
 }

 .playlist-column {
 	height: 100%;
 	margin-top: 2%;
 }


 #spotify_player {
 	height: 100%;
 	position: fixed;
 }

 .logo {
 	height: 45px;
 	margin-top: -14px;
 }

 .navbar-text {
 	float: right;
 }