<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <!-- /Fonts -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
	<script src="{{url_for('static', filename='app.js') }}"></script>
</head>
<!-- <body background="{{url_for('static', filename='images/concert1.jpg')}}" style="background-repeat: no-repeat; background-size: 100% 100%"> -->
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
<!--         <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li> -->
<!--         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">User <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Hide genres</a></li>
            <li><a href="#">Hide artists</a></li>
            <li><a href="#">Hide venues</a></li>
            <li class="divider"></li>
            <li><a href="#">Favorited events</a></li>
            <li class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li> -->


        <li class="dropdown dropdown-lg">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Favorited Events <span class="caret"></span></a>
          <ul class="dropdown-menu scrollable-menu fav-event" role="menu" onClick="event.stopPropagation();">
          {% for e in g.events %}
            <li class="fav-li" data-id="{{e.id}}"><img class="delete-fav" src="{{url_for('static', filename='images/x-icon.png')}}"><a class="dropdown-item" href="{{e.event}}" target="_blank">{{e.name}}</a></li><li class="divider"></li>
          {% endfor %}
          </ul>
        </li>


      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{url_for('search')}}">Back to search</a></li>
      </ul>
      <ul class="nav navbar-nav" style="position: absolute; left: 35%;">
      <li>
        <form class="nav navbar-form" name="search-sort" action="{{url_for('results')}}" method="POST">
        <input type="hidden" name="ids" value="{{search_data}}">
        <button type="submit" class="create-playlist btn btn-default btn-success">Create Playlist</button>
        </form>
      </li>
       </ul>
      
    </div>
  </div>
</nav>
	{% block content %}
	{% endblock %}
</body>
</html>