{% extends 'base.html' %}
{% block content %}
<script>document.write('<style>.navbar { display: none; }</style>');</script>
<body background="{{url_for('static', filename='images/soundwaves.jpg')}}" style="background-repeat: no-repeat; background-size: 100%">


<header align="center" style="margin-top: 45px;">Local Concert Radio</header>
<h3 align="center"> Discover new bands that are playing concerts near you! </h3>

	<div align="center">
	    <div class="search-form" style="width: 361px; font-size: 18px; border-radius: 10px; font-family: sans-serif;">

	    	<form action="{{url_for('login')}}"><input style="width: 255px;" class="form-control" id="submitbutton" type="submit" value="Sign in with your spotify account"></form>
	    </div>
	</div>

<!-- 	<hr>

<div class="container-fluid" style="height: 100%;">
    <div class="row" style="height: 100%;">

		<div class="tutorial">

			<h1>How does it work?</h1>
			<div id="step1">
				<div id="step1-pic" class="col-sm-7"></div>
				<h2 class="col-sm-5">First, enter the city and state you'd like to search in</h2>
			</div>
			<br>

			<div id="step2">
				<h2 class="col-sm-5">Next, enter how many miles around your selected city you'd like to search in</h2>
				<div id="step2-pic" class="col-sm-7"></div>
			</div>
			<br>

			<div id="step3">
				<div id="step3-pic" class="col-sm-7"></div>
				<h2 class="col-sm-5">Hit go to view and listen to bands playing in your area</h2>
			</div>
			<br>

		</div>

	</div>
</div> -->

{% endblock %}