{% extends 'base.html' %}
{% block content %}
<div id="top-divider"></div>
<div align="center" class="logo-box">
	<img class="logo" src="{{url_for('static', filename='images/geoconcert-whitelogo.png')}}" alt="">
</div>

	<h2 align="center">Stream music from bands playing in your area</h2>


	<div align="center">
	    <div class="search-form" style="width: 361px; font-size: 18px; border-radius: 10px; font-family: sans-serif;">
	    	<form action="{{url_for('login')}}"><input style="width: 77%" type="image" src="{{url_for('static', filename='images/logo-btn.png')}}" value="Log in with Spotify"></form>
	    </div>
	</div>


{% endblock %}