{% extends 'base.html' %}
{% block content %}
<script>document.write('<style>.navbar { display: none; }</style>');</script>
<body background="{{url_for('static', filename='images/live-green.jpg')}}" style="background-repeat: no-repeat; background-size: 100%">


<header align="center" style="margin-top: 45px;">Local Concert Radio</header>


	    <div class="search-form" style="float: left;">
	    	Local Concert Radio is a web application designed to help you discover new bands that are playing concerts near you! We use your spotify account to build a playlist containing artists in 
	    </div>

	   	<div class="search-form" style="float: right;">
	    	Local Concert Radio uses your spotify account to build a playlist containing artists in your area. If you don't have a spotify account, you can <button class="btn btn-success"> Sign up here </button>
			<div>If you have an account, <form action="{{url_for('login')}}"><input class="btn btn-success" type="submit" value="sign in to spotify get started"></form></div>
	    </div>


<!-- <div align="center" style="padding-top: 45px;"><form action="{{url_for('login')}}"><input class="btn btn-success" type="submit" value="Log in to start streaming music from bands playing in your area"></form></div> -->

{% endblock %}