{% extends 'base.html' %}
{% block content %}

<!-- Include Required Prerequisites -->
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src="static/typeahead.js"></script>
<script type="text/javascript" src="static/cities.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='typeahead.css')}}">

 
<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />


<div id="top-divider"></div>

<div align="center" class="logo-box" style="padding-bottom: 60px">
	<img class="logo" src="{{url_for('static', filename='images/geoconcert-whitelogo.png')}}" alt="">
</div>
	

<div id="loading-icon" class="hidden">
	<img src="{{url_for('static', filename='images/pinwheel.svg')}}"></img>
</div>



<div class="search-box"  align="center">
	
	<form action="{{url_for('results')}}" method="GET" class="form-inline">

	  <div class="" style="display: none">
	    <input class="form-control" type="number" min="0" name="search-radius" placeholder="miles around city">
	  </div>


	<div style="display: none">
	  <input class="form-control" type="text" name="daterange" value="Date">
				<script type="text/javascript">
				$(function() {
				    $('input[name="daterange"]').daterangepicker();

				    $('#datepick').daterangepicker({
					    "autoApply": true,
					    "showCustomRangeLabel": false,
					    "opens": "center",
					    "drops": "up"
					}, function(start, end, label) {
				});

				});

				</script>
	</div>




		  	<div id="bloodhound" class="form-control ta-div" style="width: 50%;">
		  		<input name="search-city" class="typeahead sc-form" type="text" placeholder="City" style="width: 100%, outline: none">
			</div>	

			<input id="city-submit" type="submit" value="&#xf002;">




	</form>
</div>


{% endblock %}