{% extends 'base.html' %}
{% block content %}
<body background="{{url_for('static', filename='images/soundwaves.jpg')}}" style="background-repeat: no-repeat; background-size: 100%">

<!-- Include Required Prerequisites -->
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

 
<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />


	<header align="center">Local Concert Radio</header>
	<h3 align="center">stream music from bands playing in your area</h3>

	<div id="loading-icon" class="hidden" align="center">
		<img src="{{url_for('static', filename='images/pinwheel.svg')}}"></img>
	</div>



	


	<div align="center" id="search-form">
		<form action="{{url_for('results')}}" method="GET" class="search-form">
  			<div class="form-group state">
			<select name="search-state" id="state" class="searchbar form-control">
				<option value="">State</option>
				<option value="AL">Alabama</option>
				<option value="AK">Alaska</option>
				<option value="AZ">Arizona</option>
				<option value="AR">Arkansas</option>
				<option value="CA">California</option>
				<option value="CO">Colorado</option>
				<option value="CT">Connecticut</option>
				<option value="DE">Delaware</option>
				<option value="DC">District of Columbia</option>
				<option value="FL">Florida</option>
				<option value="GA">Georgia</option>
				<option value="HI">Hawaii</option>
				<option value="ID">Idaho</option>
				<option value="IL">Illinois</option>
				<option value="IN">Indiana</option>
				<option value="IA">Iowa</option>
				<option value="KS">Kansas</option>
				<option value="KY">Kentucky</option>
				<option value="LA">Louisiana</option>
				<option value="ME">Maine</option>
				<option value="MD">Maryland</option>
				<option value="MA">Massachusetts</option>
				<option value="MI">Michigan</option>
				<option value="MN">Minnesota</option>
				<option value="MS">Mississippi</option>
				<option value="MO">Missouri</option>
				<option value="MT">Montana</option>
				<option value="NE">Nebraska</option>
				<option value="NV">Nevada</option>
				<option value="NH">New Hampshire</option>
				<option value="NJ">New Jersey</option>
				<option value="NM">New Mexico</option>
				<option value="NY">New York</option>
				<option value="NC">North Carolina</option>
				<option value="ND">North Dakota</option>
				<option value="OH">Ohio</option>
				<option value="OK">Oklahoma</option>
				<option value="OR">Oregon</option>
				<option value="PA">Pennsylvania</option>
				<option value="RI">Rhode Island</option>
				<option value="SC">South Carolina</option>
				<option value="SD">South Dakota</option>
				<option value="TN">Tennessee</option>
				<option value="TX">Texas</option>
				<option value="UT">Utah</option>
				<option value="VT">Vermont</option>
				<option value="VA">Virginia</option>
				<option value="WA">Washington</option>
				<option value="WV">West Virginia</option>
				<option value="WI">Wisconsin</option>
				<option value="WY">Wyoming</option>
			</select>
			</div>

		<div class="form-group city-div">
				<input name="search-city" id="city" class="awesomeplete searchbar form-control" list="mylist" type="text" placeholder="City" />
				<datalist id="mylist">
					{% for c in all_cities %}
						<option class="{{c}} hidden" value="{{c}}">{{c}}</option>
					{% endfor %}
				</datalist>

		</div>

		<div class="form-group">
		<input id="radius" class="searchbar form-control" type="number" min="0" name="search-radius" placeholder="miles around city">
		</div>


		<div class="form-group">
		<input id="datepick" class="searchbar form-control" type="text" name="daterange" value="Date">
		<script type="text/javascript">
		$(function() {
		    $('input[name="daterange"]').daterangepicker();

		    $('#datepick').daterangepicker({
			    "autoApply": true,
			    "showCustomRangeLabel": false,
			    "opens": "center",
			    "drops": "up"
			}, function(start, end, label) {
		});

		});

		</script>
		</div>
		<hr></hr>

		<div class="form-group">
		<input id="submitbutton" type="submit" value="Search Artists" class="form-control">
		</div>
	</form>





{% endblock %}