{% extends 'base.html' %}
{% block content %}

    <header align="center" style="margin-bottom: 42px;">Local Concert Radio</header>
    <div class="loading-playlist loading-style">
        <h2>Creating your playlist. This may take a few minutes.</h2>
        <img class="loading-playlist loading-style" src="{{url_for('static', filename='images/radio.gif')}}">
    </div>
    <div class="cards" align="center">
    {% for s in search_bands%}

            <div class="card">
                <img class="red-x" src="{{url_for('static', filename='images/red-x.png')}}" height="280px" width="280px">
                <img src="{{first_artist[s['id']]}}" alt="" height="300px" width="300px">
                <div class="sort-name" data-url="{{s['ticket_url']}}">
                {{s['artists'][0]['name']}} 

                </div>
                <div class="sort-venue">
                    @ {{s['venue']['name']}}
                </div> 
                <div class="sort-city">
                    {{s['venue']['city']}}, {{s['venue']['region']}} 
                </div>
                <div class="sort-date">
                    {{s['datetime'][5:10]}}-{{s['datetime'][0:4]}}
                </div> 
                <hr>
                <div class="card-button">
                    <input class="event-button" type="image" src="{{url_for('static', filename='images/thickheart.png')}}" style="height: 30px;">
                    <a href="{{s['ticket_url']}}" target="_blank"><img src="{{url_for('static', filename='images/bwticket.png')}}" style="height:54px; width:68px;"></a>                  
                    <input class="delete-button" type="image" src="{{url_for('static', filename='images/hollow-x.png')}}">
                </div>
            </div>

    {% endfor %} 
    </div>   
    </div>


    
{% endblock %}