{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
<!--         <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li> -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">User <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Hide genres</a></li>
            <li><a href="#">Hide artists</a></li>
            <li><a href="#">Hide venues</a></li>
            <li class="divider"></li>
            <li><a href="#">Favorited events</a></li>
            <li class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{url_for('search')}}">Back</a></li>
      </ul>
      <form class="nav navbar-right" name="search-sort" action="{{url_for('results')}}" method="GET">
      	<input type="hidden" name="ids" value="{{search_data}}">
        <div class="form-group">
        </div>
        <button type="submit" class="btn btn-default">Create Playlist</button>
      </form>
    </div>
  </div>
</nav>



	{% for s in search_bands%}
		

			<div class="card-holder">
	            <div class="card">
	            	<img src="{{first_artist[s['id']]}}" alt="" height="300px" width="300px">
	            	<div class="sort-name">
		            	{{s['artists'][0]['name']}} Featuring:
<!-- 		    {% for i in range(1, (s['artists'])| length) %}
		                  {{s['artists'][i]['name']}}
		    {% endfor %}  -->
		    		</div>
		    		<div class="sort-city">
		                CITY: {{s['venue']['city']}} 
		            </div>
		            <div class="sort-venue">
		                VENUE: {{s['venue']['name']}}
		            </div> 
		            <div class="sort-date">
		                DATE: {{s['datetime']}}
		            </div> 
		                
	            </div>
	        </div>

        {% endfor %}
{% endblock %}